:root {
    --bcb-theme-color: #0f2923;
    --bcb-theme-color-2: #1b8473;
    --bcb-heading-color: #0f0d1d;
    --bcb-hero-color:#8AF135;
    --bcb-body-color: #585858;
    --bcb-theme-nblue: #001C52;
    --bcb-common-black: #0A0E19;
    --bcb-title-sce-color: rgb(255, 255, 255);
    --bcb-black: black;
    --bcb-grey-color: #f6f6f6;
    --bcb-grey-color-2: #f6f6f6;
    --bcb-grey-color-3: #f6f6f6;
    --bcb-grey-color-4: #f6f6f6;
}