@use '../utils' as *;


.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.br-5{
	border-radius: 5px;
}
.br-24{
	border-radius: 24px;
}

img{
	width: 100%;
	// height: 100%;
}

.bcb-transparent{
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	position: absolute;
}


.bcb-btn-1{
	border-radius: 60px;
    background: rgb(15, 41, 35);
    color: rgb(255, 255, 255);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px 30px;
	& i{
		transform: rotate(45deg);
	}

	@media #{$lg}{
		padding: 15px 18px;
	}
	@media #{$xs}{
		padding: 14px 15px;
	}
}
.bcb-bred-btn{
	border-radius: 60px;
    background: var(--bcb-hero-color);
    color: #0F2923;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 15px 30px;
	& i{
		transform: rotate(45deg);
	}

	@media #{$lg}{
		padding: 15px 18px;
	}
	@media #{$xs}{
		padding: 14px 15px;
	}
}

.bcb-btn-2{
	background-color: var(--bcb-theme-color-2);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 24px 40px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    line-height: 1;
	& i{
		margin-left: 10px;
	}
}

.bcb-btn-3{
	@media #{$xs}{
		padding-top: 10px!important;
		text-align: start!important;
	 }
	& a{
		border-radius: 60px;
		background: var(--bcb-hero-color);
		color: #0F2923;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		height: 55px;
		display: inline-flex;
		align-items: center;
		padding: 0 35px;
		transition: 0.3s;
		&:hover{
			background-color: #fff;
			color: var(#0F2923);
		}
	}
}


.section-title{
	position: relative;
    z-index: 99;
    margin-bottom: 30px;
    margin-top: -7px;
	& span{
		color: var(--bcb-theme-color-2);
		margin-bottom: 10px;
		display: inline-block;
		font-weight: 500;
		text-transform: uppercase;
	}

	& h2{
		@media #{$lg}{
            font-size: 30px;
         }
		 @media #{$xs}{
            font-size: 25px;
			br{
				display: none;
			}
         }
	}
	@media #{$xs}{
		margin-bottom: 20px;
	 }
}

.section-title-area{
	display: flex;
	@media #{$xs}{
		display: block;
	 }
}

.section-outer {
	margin: 0 auto;
	max-width: 1040px;
}

.mlg-container {
	margin: 0 auto;
	max-width: 900px;
}

.zp-container{
	max-width: 1780px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
	@media #{$xs}{
		padding-top: 0!important;
		padding-bottom: 0!important;
	 }
}

.zpsection-title{
	& span{
		color: var(--bcb-hero-color);
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		text-transform: uppercase;
		display: block;
		letter-spacing: 2.5px;
	}

	& h2{
		color: #fff;
		font-size: 44px;
		font-weight: 600;
		line-height: 1.22;
		letter-spacing: -1.1px;
		@media #{$xs}{
			font-size: 25px;
		 }
	}
	@media #{$xs}{
		padding-top: 60px!important;
	 }
}

.blue-bg{
	background-color: var(--bcb-theme-color);
}
.tp-blue-bg{
	background-color: var(--bcb-theme-color);
}
.tp-yellow-bg{
	background-color: var(--bcb-theme-color-2);
}
.tp-nblue-bg{
	background-color: var(--bcb-theme-nblue);
}

.tp-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.tp-brand-slide-element {
	width: auto;
	display: inline-block;
}