@use '../../utils' as *;


.bcb-about{
  &-img{
    & img{
      position: relative;
      z-index: 9;
      width: 100%;
    }
  }
  &-content{
    & p{
      border-bottom: 1px solid #e3e3e3;
      padding-bottom: 35px;
      display: inline-block;
    }
  }
  &-checklist{
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 65px;
    & ul{
      & li{
        font-weight: 500;
        margin-bottom: 10px;
        & i{
          color: var(--bcb-hero-color);
          margin-right: 5px;
        }
      }
    }
    & .icon-items{
      gap: 16px;
      display: flex;
      padding: 28px 25px;
      background-color: #fff;
      box-shadow:  0px 4px 25px rgba(0, 0, 0, 0.06);
      border-left: 3px solid var(--bcb-hero-color);
    }
    @media #{$xs}{
      display: block;
   }
  }
  &-author{
    display: flex;
    gap: 30px;
    & .author-icon{
      gap: 30px;
      & .icon{
        width: 94px;
        height: 94px;
        display: block;
        overflow: hidden;
        position: relative;
        text-align: center;
        border-radius: 50%;
        background: radial-gradient(#f9bd35 50%, rgba(240, 216, 176, 0.4) 52%);
        &::before{
          content: "";
          opacity: 1;
          top: -15%;
          left: -15%;
          width: 120px;
          height: 120px;
          position: absolute;
          border-radius: 50%;
          animation-delay: 0s;
          animation: pulsate-btn 2s;
          animation-direction: forwards;
          animation-iteration-count: infinite;
          animation-timing-function: steps;
          border: 5px solid rgb(255, 170, 24);
        }
        & i{
          color: #fff;
          font-size: 20px;
          transform: translateY(170%);
        }
      }
    }
    @media #{$xs}{
      display: block;
   }
  }
}

.about-shape-1{
  top: 32%;
  left: -76px;
  z-index: 1;
  @media #{$xs}{
    top: -13%;
    left: -55px;
 }
}
.about-shape-2 {
  right: 195px;
  bottom: 25px;
  z-index: 1;
  @media #{$xs}{
    display: none;
 }
}

@keyframes pulsate-btn{
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
