@use '../../utils' as *;


.contact-info{
    &-area{
        display: flex;
        margin-bottom: 90px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #242449;
    }
    &-items{
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-bottom: 40px;
        &:not(:last-child){
            height: 110px;
            padding-right: 100px;
            border-right: 1px solid #242449;
        }

        & .icon{
            width: 65px;
            height: 65px;
            line-height: 65px;
            text-align: center;
            position: relative;
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../../../assets/img/icon/circle-2.png');
                animation: cir36 10s linear infinite;
            }
        }

        & .content{
            & p{
                color: #fff;
                margin-bottom: 5px;
            }

            & h3{
                color: #fff;
                font-size: 24px;
            }
        }
 
    }
}



@keyframes cir36 {
    100% {
        transform: rotate(360deg);
    }
}