@use '../../utils' as *;

.bcb-cta{
    &-wrapper{
        bottom: -100px;
        padding: 65px 70px;
        background-color: var(--bcb-theme-color-2);
         @media #{$xs}{
            text-align: center;
            padding: 65px 30px;
         }
    }
    &-img{
        bottom: 0;
        left: 100px;
        height: 357px;
        max-width: 393px;
     
    }
    &-items{
        display: flex;
        & h3{
            color: #fff;
            @media #{$xs}{
                & br{
                    display: none;
                }
            }
        }
        & .bcb-btn-2{
            color: black;
            background-color: #fff;
        }
        @media #{$lg,$md}{
            margin-left: 50px;
        }
        @media #{$xs}{
            display: block;
            margin-left: 0;
        }
    }
}

.bcb-shape{
    top: 0;
    left: 21%;
}