@use '../../utils' as *;


.bcb-hero{
    &-content{
        display: flex;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 34px;
        & .hero-img{
            @media #{$lg}{
                margin: 45px 30px 45px 30px;
             }
             @media #{$md}{
               margin: 45px 30px 45px 0px;
            }
        }
        @media #{$xs}{
         margin-top: 100px;
         display: block;
      }
      & .hero-img{
         width: 100%;
         top: -58px;
         right: 15px;
         @media #{$xs}{
            margin-left: 20px;
            width: 90%;
         }
      }
      & .hero-shape {
         width: 55%;
         right: -6px;
      }

      &::before{
         content: "";
         // background: var(--bcb-hero-color);
         background:rgba(0, 0, 0, 0.6);
         position: absolute;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
      }
    }

   
    &-text{
      z-index: 999;
        padding: 145px 0 0 120px;
        @media #{$xl}{
            padding: 145px 0 0 40px;
         }
         @media #{$lg}{
            padding: 145px 0 0 35px;
         }
         @media #{$md}{
            padding: 88px 0 0 32px;
         }
         @media #{$xs}{
            padding: 100px 50px 0 40px;
         }
         & p{
            color: #fff;
         }
    }

    &-title{
        color: var(--bcb-hero-color);
        font-family: Outfit;
        font-size: 130px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 10px;
             @media #{$xxlm}{
                font-size: 100px;
             }
             @media #{$xl}{
                font-size: 85px;
             }
             @media #{$lg}{
                font-size: 80px;
             }
             @media #{$md}{
                font-size: 65px;
             }
             @media #{$xs}{
               font-size: 45px;
            }
        & span{
            display: block;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px var(--bcb-hero-color);
        }
    } 
}

.bcb-container{
   @media #{$xs}{
      padding: 0px 20px;
   }
}



.justify{
   @media #{$xs}{
      justify-content: end!important;
   }
}
