@use '../../utils' as *;

.bcb-integrations{
    &-title{
        color: var(--bcb-title-sce-color);
    }
    &-desc{
        color: var(--bcb-title-sce-color);
    }
    &-area{
        @media #{$md,$xs}{
            padding-top: 50px;
            padding-bottom: 50px;
         }
        & .section-outer {
            margin: 0 auto;
            max-width: 1037px;
            & .section-inner{
                & h2{
                    @media #{$xs}{
                        font-size: 25px;
                     }
                }
            }
        }
        background-color: rgb(42, 71, 65);
        & .inte-item{
            background-color:var(--bcb-hero-color);
            border-radius: 16px;
            // margin: 0px 34px;
            padding: 30px 25px;
            height: 244px;
            & .inte-top{
                & .inte-title{
                    & h5{
                        margin-bottom: 0;
                    }
                    & span{
                        font-size: 14px;
                        color:#212529;
                    }
                }
            }
            & p{
                margin-top: 20px;
                margin-bottom: 40px;
            }
            & .inte-btn{
                & a{
                    font-size: 14px;
                    font-weight: 800;
                    color:#12715B;
                }
            }
        }
        & .all-inte-btn{
            display: flex;
            & a{
                gap: 5;
                font-weight: 800;
                color:#fff;
            }
        }
    }

}