@use '../../utils' as *;

.price-border{
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid rgba(131, 131, 131, 0.25);
}

.bcb-price-area {
    @media #{$lg,$xs}{
        padding: 80px 0px;
     }
     @media #{$md}{
        padding: 50px 0px;
     }
    & .price-item{
        padding: 30px;

        & .top-panel{
            & .desc{
                color: #100F13;
            }
        }
        & .middle-panel{
            & h5{
                color: #100F13;
                font-size: 40px;
                margin-bottom: 0;
            }
            & span{
                font-size: 14px;
                margin-top: -5px;
            }
            & a{
                padding: 10px 0px;
                background-color: #45a48e;
            }
        }
        & .bottom-panel{
            & .panel{
                & .hstack {
                    & i{
                        color: #fff;
                        padding: 3px;
                        font-size: 10px;
                        border-radius: 50%;
                        background-color: #45a48e;
                    }
                    & span{
                        color: #100F13;
                    }
                }
            }
        }

        & .populer{
            padding: 3px 8px;
            border-radius: 3px;
            color: #fff;
            position: absolute;
            right: 0;
            display: inline-block;
            background-color: #45a48e;
        }
    }
}