@use '../../utils' as *;

.bcb-process{
    &-item{
        & .icon{
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-radius: 50%;
            background: #fff6e8;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
            position: relative;
            transition: .4s;
            margin: 0 auto;
            & h6{
                width: 34px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                border-radius: 50%;
                background-color: var(--bcb-btn-color);
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                font-weight: 400;
            }
            & i{
                font-size: 50px;
                transition: .4s;
                padding-top: 25px;
                color: var(--bcb-hero-color);
            }

            &:hover{
                background-color: var(--bcb-hero-color);
                & i{
                    color: #fff;
                }
            }

        }
    }
}

.line-shape{
    top: 48%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 880px;
}